* {
  color: rgb(51, 255, 0);
  background-color: black;
  font-family: "Lucida Consolas", Consolas, monospace;
}

section {
    border-top: 1px dashed rgb(51, 255, 0);
    border-bottom: 1px dashed rgb(51, 255, 0);
    padding: 10px;
}

a {
    text-decoration: none;
}

nav a {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav a:hover {
    color: white;
}

section a {
    color: white;
    font-family: Courier, monospace;
}

section a:hover {
    color: lightgray;
}

abbr {
    text-decoration: none;
}
