table {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid black;
}

body {
  background-image: url('./images/python.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

button {
  padding: 5px;
  margin: 10px;
  border: 5px outset lightgray;
}

button:hover {
  border-style: inset;
  background-color: #bababa;
}

form {
  width: 500px;
  height: 500px;
  background-color: tomato;
}

input {
    float: right;
}

.body {
  background-color: lightblue;
  width: 90%;
  height: 90%;
  margin: auto;
}